In [ ]:
!pip install flair
import nltk
nltk.download('punkt')
nltk.download('wordnet')

In [2]:
from flair.models import SequenceTagger
from flair.data import Sentence
from tqdm import tqdm

In [ ]:
ner_tagger = SequenceTagger.load('ner')

In [4]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [5]:
import pandas as pd

In [17]:
def get_pos_ans(text):
  global ner_tagger 
  sentence = Sentence(text)
  ner_tagger.predict(sentence)
  persons = []
  for item in sentence.get_spans('ner'):
    if item.tag == 'PER':
      persons.append(item.text)
  return persons

In [23]:
import os
import tqdm
df_final = pd.DataFrame()
directory = '/gdrive/My Drive/NLP-datasets/final_data/'
for filename in os.listdir(directory):
    print(filename)
    if filename.endswith(".csv"): 
         df = pd.read_csv(directory + filename)
         df['Possible answers'] = df['Text'].apply(get_pos_ans)
         df_final = df_final.append(df)
    else:
        continue

wiki_set2_data.csv
wiki_set1_data.csv
NYT_data.csv
movie_data.csv

In [24]:
df_final.head()

   Unnamed: 0  ...        Possible answers
0           0  ...      [Herbert, Beverly]
1           1  ...     [Herbert, McCarthy]
2           2  ...      [Herbert, Herbert]
3           3  ...  [Norris, Julian, Zola]
4           4  ...    [Buechner, Buechner]

[5 rows x 7 columns]

In [25]:
df_final.to_csv('/gdrive/My Drive/NLP-datasets/final_data/compiled_he-she.csv')